body {
    background-color: #f5f4f0;
}

.navbar-inverse {
    background-color: #f5f4f0;
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 3px 3px#30c9b5;
    height: 32px;
    border-radius: 0%;
    border: none;
}

.navbar-header:hover {
    color: black;
}

.navbar-brand a {
    line-height: 30px;
    font-size: 25px;
    margin: -14px;
    color: black;
}

.navbar-form {
    margin: -2px;
    background-color: #5e0846;
}

.text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.txt {
    margin: 20px;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: x#30c9b5;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}